@import url(./partial/variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--roboto)
}
.title-h1{
    font: normal bold 39px/40px;
    font-family: "Poppins",cursive;
}
/* .font-roboto{
    font-family: "Roboto",cursive;
} */
a{
    text-decoration: none;
}
/* navbar customize */
.nav-links a{
    font-weight: 500;
    padding: 1.7rem;
    color:black;
    font-family: 'Roboto',cursive;
}
.navbar .navbar-nav .active{
color:#8150ED;
}
.navbar .navbar-nav a:hover{
color: #8150ED;
}

/* banner start */
.banner{
    background: url(../img/banner/home-banner.png)no-repeat 0% 50%;
    background-position: center;
}
.banner-title h3{
    padding-top: 35%;
    font-weight: 500;
}
.banner-title h3::after{
    content: '';
    height: 2px;
    width: 18vw;
    background-color: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}
.banner-title h1{
    font-size: 5rem;

}
.banner-title h4{
    font-size: 1.5rem;
}
.banner-image img{
    padding: 7rem;
    width: 90rem;
}
.title-text{
    font: normal bold 50px/72px var(--roboto);
}
.text-upperCase{
    text-transform: uppercase;
}
.button{
    padding: 0.8rem 2.2rem;
    font: normal 500 16px/20px var(--roboto);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}
.primary-button{
    background:linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    background-clip: padding-box;
    color: whitesmoke;
    transition:0.5s;
    box-shadow: 0px 10px 30px rgba(57,56,61,0.205);
}
.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
    transition:1s;

}
.primary-button::after, .secondary-button::after{
    content: '';
    position:absolute;
    top: -2px; left:-2px;
    bottom: -2px; right:-2px;
    background: linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    z-index: -1;
    border-radius: 4px;
}
.secondary-button{
    background: white;
    background-clip: padding-box;
    transition: background 0.5s ease;
}
.secondary-button:hover{
    background: linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    color: whitesmoke;
    box-shadow: 0px 10px 30px rgba(57,56,61,0.205);
}

/* About section */
.para{
    color: #777777 ;
    font: normal 16px/25px ;
    font-family: "Roboto",cursive;
}
/* .about{
    padding: 8rem 5rem;

} */
.about .about-title h2 span{
    display: block;
    font: normal bold 49px/60px ;
    font-family: 'Roboto',cursive;
    letter-spacing: 21px;
}
.about .about-title .pargraph p{
    padding:4rem 0;
}
/* brand start */
.brand a:hover{
    color: #4458dc;
}
.first-row .col-lg-4{
    display: flex;
    justify-content: center;
}
.first-row .single-brand{
    border: 1px solid #201f1f17;
    text-align: center;
    padding: 1.8rem 0rem;
    margin: 0.9rem 0rem;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition:transform .4s ease;
}
.first-row .single-brand img{
    width: 50%;
}
.first-row .single-brand:hover{
    box-shadow: 0px 10px 30px rgba(57,56,61,0.0205);
    transform: scale(1.1);
}
.first-row .single-brand:hover{
   img{ filter: brightness(0.15);}
}
.experince{
    padding-left: 1rem;
    position: relative;
}
.experince span{
    display: block;
}
.years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 0rem;
    position: relative;
}
.years{
    font: normal bold 85px/40px;
    color: #4458dc;
    font-size: 66px;
    z-index: 2;
}
.experince .bg-panel{
    position: absolute;
    left: -90px; top: 0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 190px;
    z-index: -1;
}
.call{
    padding-left: 100px;
}
.call a{
    color: #8150ED;
}
/* Services Start */
.service{
    padding:7rem 2rem;

}
.service-title{
    padding: 0 14rem;
}
.service-title h1{
    font-size: 35px;
}
.services1{
    background-color: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 95%;
    margin: 5rem 0.5rem;
    transition: .7s;
}
.services1:hover{
    /* background-color: #8150ED;
    box-shadow: rgba(57,56,61,0.205); */
    box-shadow: 0px 10px 30px rgba(57,56,61,0.205);

}
/* Project start */
.project .btn-group button{
background-color: transparent;
border: none;
font: normal 500 16px/130px;
text-transform: uppercase;
padding: 2rem 0;
}
.project .btn-group button + button{
    padding-left: 3rem;
}
.project .grid .our-project .title h4{
    font: normal 700 25px/12px;
}
.our-project .img:hover{
    img{filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);}
}